@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@700&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.form {
  display:flex;
  justify-content: center;
  align-items: center;
}

input {
  text-align: center;
}

select {
  text-align: center;
}


body {
  font-family: font-family: 'Poppins', sans-serif !important;
  background-color: #edf6f9 !important;
}

.row {
  background-color: #edf6f9 !important;
}


.navbar-brand {
  color: #009879 !important;
  font-weight: 700 !important;
  font-size: 1.7rem !important;
  margin-right: 4rem !important;
}

.active {
  color: #009879 !important;
  font-weight: 700 !important;
  border-bottom: 2px solid #d0d0d3;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  margin-right: 1rem;
}

.active:hover {
  border-bottom: 2px solid #009879;
}

@media (max-width: 990px) {
  .active {
    margin-right: 0;
  }
}